<head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Officine Digitali Torino" />
        <meta name="keywords" content="web, sys, dev, net, torino" />
        <meta name="author" content="Officine Digitali" />

        <meta property="og:site_name" content="Officine Digitali" />
        <meta property="og:title" content="Officine Digitali" />
        <meta property="og:url" content="{{ site.baseurl }}" />
        <meta property="og:image" content="{{ "/img/fb.png" | prepend: site.baseurl }}" />
        <meta property="og:type" content="website" />
        <meta property="og:country-name" content="Italy" />
        <meta property="og:email" content="{{ site.email }}" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:description" content="web|sys|dev|net|etc" />

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <link rel="stylesheet" type="text/css" href="{{ "/css/normalize.css" | prepend: site.baseurl }}" />
        <link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" />
        <link rel="stylesheet" type="text/css" href="{{ "/css/effect1.css" | prepend: site.baseurl }}" />
        <script src="{{ "/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
</head>
